<div>
    <div class="note">
        <h1>Founder's Note</h1>
        <p>
            <!-- <span>"</span> -->
            Our aim at HVAC Solutions Hub is simple: we provide comfort, efficiency and quality in every HVAC solution
            we deliver. From a hobby in quality systems,
            Naos Intelligence formed into a professional service underpinned by the expert knowledge and dedicated team
            behind it.
            We take pride in offering only the best products from Daikin and we complete every job with precision
            craftsmanship.
            <!-- <span>"</span> -->
        </p>
    </div>

    <div class="us">
        <h3 class="heading">About Us</h3>
        <p>We Would like to introduce our company MEPTECH Air-condition
            Trading LLC, the brain child of a set of internationally experienced
            professionals in HVAC Equipment & Air side products. With a short
            span of time MEPTECH have made a strategic partnership with many
            of the leading Contracting companies & Fit out Contractors by
            supplying most competitive and innovative HVAC Products &
            technical solution.</p>
    </div>

    <div class="team">
        <h3 class="heading">Our Team</h3>

        <div class="gather">
            <h4 class="sub">Team Gathering | Success Celebration</h4>
            <p>We're proud to celebrate one of our biggest achievements yet—successfully handling a major Beach
                Development
                project for supply DAIKIN FAHU from Italy, DERV, ERV and VRVs Europe! Even better, our team hit the
                month-end
                sales target well ahead of schedule.Our talented group is not only ambitious and enthusiastic, but
                always
                dreams
                big and delivers beyond expectations.
                This success is a reflection of what's possible when passion meets determination.</p>
            <img src="/team1.png" alt="Gathering">
        </div>

        <div class="gather">
            <h4 class="sub mt-5">IFTAR</h4>
            <p>Our recent Iftar gathering at Le Patio, Al Habtoor Palace was truly a night to remember. Surrounded by a
                beautiful ambiance and delicious cuisine, we came together to celebrate not just the spirit of the
                season, but also the strength of our partnerships and collective achievements.
                We were especially honored to welcome the Daikin team, whose presence added warmth and meaning to the
                occasion. Your participation truly enhanced the evening and created lasting memories for all.At Team
                Meptech, we believe that success is rooted in strong relationships. This special evening was a
                reflection of our shared values collaboration, gratitude, and a commitment to excellence.</p>
            <img src="/team2.png" alt="Gathering">
            <img src="/team3.png" alt="Gathering">
        </div>

        <div class="gather">
            <h4 class="sub mt-5">MEPTECH DAIKIN COLLABORATION</h4>
            <img src="/team4.png" alt="Gathering">
        </div>

    </div>
</div>