<div>
    <div class="note">
        <h1>Founder's Note</h1>
        <p>
            <!-- <span>"</span> -->
            Our aim at HVAC Solutions Hub is simple: we provide comfort, efficiency and quality in every HVAC solution
            we deliver. From a hobby in quality systems,
            Naos Intelligence formed into a professional service underpinned by the expert knowledge and dedicated team
            behind it.
            We take pride in offering only the best products from Daikin and we complete every job with precision
            craftsmanship.
            <!-- <span>"</span> -->
        </p>
    </div>
</div>