<div class="vrvx-container">
    <div class="top-section">
        <div class="main-img">
            <img [src]="product.mainImg" [alt]="product.name">
        </div>
    </div>

    <div class="short">
        <h2>{{ product.name }}</h2>
    </div>

    <div class="about">
        <p>{{ product.about }}</p>
    </div>

    <div class="enquire">
        <button>Enquire Now</button>
    </div>


    <div class="cards">
        <app-product-card *ngFor="let c of product.cards" [head]="c.head" [points]="c.points">
        </app-product-card>
    </div>

    <div class="groups">
        <div class="group" *ngFor="let g of product.groups">
            <div class="group-text">
                <h3>{{ g.name }}</h3>
                <ul>
                    <li *ngFor="let p of g.points">{{ p }}</li>
                </ul>
            </div>
            <div class="group-img">
                <img [src]="g.img" [alt]="g.name">
            </div>
        </div>
    </div>

    <app-randomlist></app-randomlist>
</div>