.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 3rem;
}
.hero-tile h1 {
  font-size: 2.4rem;
  color: #000;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.hero-tile p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}
.hero-section a.btn-call {
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #EA4D44;
    background-color: #EA4D44;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    gap:10px;
}

.hero-section a.btn-call:hover {
    background: #EA4D44;
    transform: translateY(-3px);
}


.about-section {
  text-align: center;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #f4f5f9);
  border-radius: 12px;
  margin: 2rem auto 5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  gap: 1rem;
}

.about-section h2 {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 1rem;
  position: relative;
}

.about-section h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #EA4D44;
  margin: 12px auto 0;
  border-radius: 2px;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  max-width: 900px;
}



.benefit-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.benefit-section h2 {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.benefit-section h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #EA4D44;
  margin: 12px auto 0;
  border-radius: 2px;
}

.benefit-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.benefit-card {
  background: #fff;
  border: 1px solid #ea4c4433;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  text-align: center;
  transition: all 0.35s ease;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;
}

.benefit-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-color: #EA4D44;
}

.benefit-card h3 {
  font-size: 18px;
  margin-bottom: 0.5rem;
  color: #111;
}

.benefit-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}


.image-text-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 3rem 2rem;
  margin: 0 auto 5rem;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease 0.5s forwards;
}
.image-text-section h2::after{
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #EA4D44;
  margin: 12px auto 0;
  border-radius: 2px;
}

.image-text-section-left,
.image-text-section-right {
  flex: 1;
}

.image-text-section-left h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.image-text-section-left p {
  font-size: 1rem;
  color: #555;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.image-text-section-right {
  display: flex;
  justify-content: center;
}

.image-text-section-right img {
  max-width: 100%;
  height: 433px;
  border-radius: 14px;
  object-fit: cover;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
}


.our-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 3rem 2rem;
  margin: 0 auto 5rem;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease 0.5s forwards;
}

.our-section h2 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1.5rem;
}
.our-section h2::after{
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #EA4D44;
  margin: 12px auto 0;
  border-radius: 2px;
}
.our-section-left,
.our-section-right {
  flex: 1;
}

.our-section-left {
  display: flex;
  justify-content: center;
}

.our-section-left img {
  max-width: 100%;
  height: 433px;
  border-radius: 14px;
  object-fit: cover;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
}

.our-section-right p {
  color: #555;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.for-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.for-section h2 {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.for-section h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #EA4D44;
  margin: 12px auto 0;
  border-radius: 2px;
}
.for-section p{
  color: #555;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}


@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 1024px) {
  .hero-tile h1 {
    font-size: 2rem;
  }

  .hero-tile p {
    font-size: 1rem;
  }

  .benefit-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-text-section{
    flex-direction: column;
    text-align: center;
  }
  .our-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .image-text-section img,
  .our-section img {
    max-width: 80%;
  }
}

@media (max-width: 900px) {

  .hero-tile h1 {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .about-section {
    padding: 2rem 1rem;
  }

  .about-section h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .hero-section{
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
  }
    .hero-section a.btn-call {
    padding: 10px 20px;
    font-size: 15px;
  }
  .hero-tile h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .hero-tile p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
 .about-section{
  gap: 0.1rem;
 }
  .about-section,
  .benefit-section,
  .image-text-section,
  .our-section,
  .for-section{
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;
  }

  .about-section h2,
  .benefit-section h2,
  .image-text-section h2,
  .our-section h2,
  .for-section h2 {
    font-size: 1.3rem;
  }

  .about-section p,
  .image-text-section p,
  .our-section p ,
  .for-section p{
    font-size: 0.9rem;
  }

  .benefit-cards {
    grid-template-columns: 1fr;
    gap: 14px;
  }

  .image-text-section img,
  .our-section img {
    width: 100%;
    height: 210px;
    border-radius: 10px;
  }
}
