<header>
    <!-- Top bar -->
    <div class="text-white topbar">
        <div class="dealer">
            <p class="mb-0 small">A Daikin Authorized Dealer</p>
        </div>
        <div class="topbar-contact">
            <p class="mb-0"><i class="bi bi-telephone"></i> 0422324510</p>
            <p class="mb-0"><i class="bi bi-envelope"></i> sales&#64;gmail.com</p>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light px-3">
        <a class="navbar-brand" href="#">
            <img src="/logo.png" class="img-fluid d-block" alt="Logo" />
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav gap-3">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="closeNavbar()" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" (click)="closeNavbar()" routerLinkActive="active">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services" (click)="closeNavbar()" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects" (click)="closeNavbar()" routerLinkActive="active">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" (click)="closeNavbar()" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" (click)="closeNavbar()" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>