<div>
    <app-banner></app-banner>

    <div class="why-video-section">
        <div class="why">
            <h4>Why Choose Us?</h4>
            <p>At MEPTECH Air-condition Trading LLC, we deliver end-to-end HVAC solutions engineered for the UAE’s
                demanding climate and stringent building standards. From world-class Daikin systems to
                precision-manufactured air distribution products, we combine innovation, reliability, and expertise to
                create comfort you can trust.</p>
        </div>
    </div>

    <div class="firstcards">
        <div class="card" *ngFor="let card of cards">
            <img [src]="card.img" alt="{{ card.head }}">
            <h5>{{ card.head }}</h5>
            <p>{{ card.para }}</p>
        </div>
    </div>

    <div class="image-flow" appLazyLoad>
        <div class="carousel-row top">
            <div class="carousel-track">
                <p *ngFor="let itm of products">{{itm.name}}</p>
                <p *ngFor="let itm of products">{{itm.name}}</p>
            </div>
        </div>
        <div class="carousel-row bottom">
            <div class="carousel-track reverse">
                <p *ngFor="let itm of products">{{itm.name}}</p>
                <p *ngFor="let itm of products">{{itm.name}}</p>
            </div>
        </div>
    </div>

    <h4 class="heading">About</h4>

    <div class="about">
        <div class="about-left">
            <img src="/logo.png" alt="logo">
            <p>MEPTECH AIR CONDITION TRADING L.L.C is a competitive trader of HVAC products through
                which we endow with technical assistance for various innovative aspects of air conditioning
                and ventilation process over international standards maintained in quality of products and
                service.
            </p>
            <p>
                We are specialized in catering to our customers with various engineering requirements in
                diverse disciplines of Air-Conditioning, Ventilation, Airflow Control, Air Distribution, Fire/Smoke
                Control, Acoustics and services. MEPTECH AIR CONDITION TRADING L.L.C is driven by fully
                qualified & self-motivated professionals, collectively contributing their experience and
                expertise, to gear the advanced engineering solutions.</p>
            <p>Our strong commitment towards quality backed by latest technology made us collaborate
                with renamed intentional brand like Daikin, Systemair, Kleanland, JC Cooling to name
                a few and undertake responsibility to cater the requirements of various MEP Projects across
                the middle east.
            </p>
            <p>“Business Engineered with Trust” being our motto, we approach challenging complex
                Engineering Problems and offer simplified user-friendly technology solutions, thereby
                creating a rewarding and learning experience built on trust. As a policy, we lay assuming on
                'trustworthy','cost effective', 'just-in-time' solutions, thereby emphasizing on customer service
                with utmost satisfaction.
            </p>
            <p>Thus, we, MEPTECH AIR CONDITION TRADING L.L.C , remain your trusted technology solution
                partner at all times.</p>
            <button class="explore-btn">Explore</button>
        </div>
        <div class="about-right">
            <img src="/about.png" alt="image">
        </div>
    </div>

    <h4 class="heading">Featured Categories</h4>

    <div class="featured">
        <div class="featured-card wrap" *ngFor="let item of featured">
            <div class="image-content" [style.backgroundImage]="'url(' + item.img + ')'"></div>
            <h5 class="card-heading">{{ item.head }}</h5>

            <div class="overlay">
                <div class="overlay-content">
                    <p>{{ item.description }}</p>
                    <button class="explore-btn"
                        (click)="goToProducts(item.head); $event.stopPropagation()">Explore</button>
                </div>
            </div>
        </div>
    </div>

</div>