<div class="container">
    <div class="top-section">
        <div class="main-img">
            <img [src]="product.mainImg" [alt]="product.name">
        </div>
    </div>

    <div class="short">
        <h2>{{ product.name }}</h2>
        <p>{{ product.short }}</p>
    </div>

    <div class="short">
        <h2>Component Description</h2>
    </div>

    <div class="cards">
        <app-product-card-with-image *ngFor="let card of product.cards" [imageUrl]="card.img" [head]="card.head"
            [points]="card.points"></app-product-card-with-image>
    </div>

    <app-randomlist></app-randomlist>
</div>