<div>
    <app-banner></app-banner>

    <div class="core">
        <h4>Our Core Services</h4>
        <p>End-to-end HVAC solutions designed to meet the demanding
            requirements of UAE's climate and building standards</p>
    </div>

    <div class="cards">
        <div class="card" *ngFor="let card of cards">
            <div class="card-header">
                <img [src]="card.img" alt="{{ card.head }}">
                <h5>{{ card.head }}</h5>
            </div>
            <p class="card-para">{{ card.para }}</p>
            <h6 class="features-heading">Key Features</h6>
            <ul class="features-list">
                <li *ngFor="let feature of card.features">
                    <i class="bi bi-plus-circle"></i> {{ feature }}
                </li>
            </ul>
        </div>
    </div>

    <div class="approach">
        <div class="left">
            <h6>Oru Approach</h6>
            <h3>Proven Project Methodology</h3>
            <p>Our methodical process guarantees that every project adheres to the
                highest benchmarks of performance, compliance, and reliability in the UAE.</p>
            <div class="flow">
                <div class="step">
                    <div class="no">
                        <h6>1</h6>
                    </div>
                    <div class="name">
                        <h5>Intial Assesment</h5>
                        <p>Site survey, load calculations, and requirement analysis</p>
                    </div>
                </div>
                <div class="step">
                    <div class="no">
                        <h6>2</h6>
                    </div>
                    <div class="name">
                        <h5>Design $ Planning</h5>
                        <p>Custom system design and project planning</p>
                    </div>
                </div>
                <div class="step">
                    <div class="no">
                        <h6>3</h6>
                    </div>
                    <div class="name">
                        <h5>Implementation</h5>
                        <p>Professional installation and commissioning</p>
                    </div>
                </div>
                <div class="step">
                    <div class="no">
                        <h6>4</h6>
                    </div>
                    <div class="name">
                        <h5>Ongoing Support</h5>
                        <p>Maintenance, monitoring, and technical support</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="/banner2.png" alt="">
        </div>
    </div>

</div>