<footer>
    <div class="first">
        <h4>{{ currentFooter.heading }}</h4>
    </div>
    <div class="second">
        <p>{{ currentFooter.subtext }}</p>
    </div>
    <div class="third">
        <button (click)="goTo('/contact')">Request a Quote</button>
        <a href="tel:+971523124576" class="btn-call">Call: +971 52 312 4576</a>
    </div>
    <div class="fourth">
        <div class="column left">
            <img src="/logo1.png" alt="Logo">
            <p>
                Authorized Daikin dealer providing professional HVAC solutions, system design, installation,
                and maintenance services across the UAE.
            </p>
        </div>

        <div class="column links">
            <h6>QUICK LINKS</h6>
            <ul>
                <li (click)="goTo('/')">Home</li>
                <li (click)="goTo('/products')">Products</li>
                <li (click)="goTo('/projects')">Projects</li>
                <li (click)="goTo('/contact')">Contact</li>
            </ul>
        </div>

        <div class="column products">
            <h6>PRODUCTS</h6>
            <ul>
                <li (click)="goTo('/products/vrviv')">VRV Systems</li>
                <li (click)="goTo('/products/rooftoppackage')">Rooftop Unit</li>
                <li (click)="goTo('/products/fancoilunits')">Fancoil Units</li>
                <li (click)="goTo('/products/thermostat')">Controls & Thermostats</li>
            </ul>
        </div>

        <div class="column contacts">
            <h6>CONTACTS</h6>
            <ul>
                <li><i class="bi bi-envelope"></i> <a href="mailto:sales@meptechuae.com">sales&#64;meptechuae.com</a>
                </li>
                <li><i class="bi bi-telephone"></i> <a href="tel:+971523124576">+971 52 312 4576</a></li>
                <!-- <li><i class="bi bi-whatsapp"></i> <a href="https://wa.me/971523124576" target="_blank">+971 50 347
                        1731</a></li> -->
                <li><i class="bi bi-geo-alt"></i> Office no.47, M floor, Land Rover Showroom Building, Al Garhoud, Dubai
                </li>
                <li><i class="bi bi-calendar3"></i> Mon - Fri: 8:30 am - 6:00 pm, Sat: 8:30 am - 2:00 pm</li>
            </ul>
        </div>
    </div>

    <!-- Bottom Bar -->
    <div class="footer-bottom">
        <p>© {{ currentYear }} Meptech UAE. All rights reserved.</p>

        <div class="socials">
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
        </div>
    </div>

</footer>